html {
    scroll-behavior: smooth;
}
body{
    position: relative;
    font-family: 'Mulish';
    font-size: 14px;
}
ul{
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}
a{
    text-decoration: none;
}
main{
    flex: 1;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.mx-15{
    margin: 0 -15px;
}
.px15{
    padding: 0 15px;
}
#scrollToTop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #90a94c;
    color: #fff;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    display: none;
    cursor: pointer;
    text-align: center;
}
.title-index{
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #506417;
}
#header.header-fixed{
    position: fixed;
    width: 100%;
    background-color: #fff;
    transition: ease-in-out 0.2s all;
    z-index: 3;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    top: 0;
}
.top-header{
    position: relative;
    background-color: #222;
    padding: 10px 0;
    font-size: 12px;
    color: #fff;
}
.top-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-header-content a:hover,
.top-header-content i{
    color: #90a94c;
}
.top-header-content a{
    color: #fff;
    margin-left: 20px;
}
.item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}
.item-nav{
    display: flex;
    align-items: center;
    width: 70%;
}
.item-nav li:first-child{
    padding-left: 0;
}
.item-nav li{
    padding-left: 30px;
}
.item-nav li a{
    position: relative;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    color: #777;
    transition: ease-in-out 0.2s all;
}
.item-nav li a.active,
.item-nav li a:hover{
    color: #90a94c;
}
.item-menu-user{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.item-user-header{
    position: relative;
}
#itemDisplayUser{
    font-size: 16px;
    color: #777;
}
#itemDisplayUser:hover{
    color: #90a94c;
}
.item-user-header-content{
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 200px;
    z-index: 5;
    text-align: left;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    background: #fff;
}
.item-user-header-content a:first-child{
    border-top: 0;
}
.item-user-header-content a{
    display: block;
    padding: 7px 20px;
    color: #333;
    border-top: 1px solid #333;
    font-size: 16px;
}
.item-user-header-content a:hover{
    color: #90a94c;
}
#itemMenuMobile{
    display: none;
    color: #777;
    font-size: 16px;
}
#menuMobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #fff;
    z-index: 9999;
    text-align: center;
    padding-top: 50px;
    transition: ease-in-out 0.4s;
    opacity: 0;
    overflow: hidden;
}
#menuMobile.show-menu {
    width: 100%;
    opacity: 1;
}
#itemHideMenu{
    position: absolute;
    font-size: 30px;
    color: #f00808;
    top: 15px;
    right: 15px;
}
#menuMobile ul{
    list-style: none;
    padding-left: 0;
}
#menuMobile ul li{
    margin-bottom: 15px;
}
#menuMobile ul li a{
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
#menuMobile ul li a.active{
    color: #90a94c;
}
.item-logo-mobile{
    width: 70%;
    margin: auto;
    padding-bottom: 30px;
}
.my-slider{
    position: relative;
}
.item-slider{
    width: 100%;
    height: 800px;
}
.slick-arrow{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background-color: #90a94c;
    z-index: 2;
    cursor: pointer;
}
.slick-prev{
    left: 15px;
}
.slick-next{
    right: 15px;
}
.my-slider .slick-arrow{
    top: 50%;
}
.section-study,
.section-change-password,
.section-user,
.section-contact,
.section-blog,
.section-feedback,
.section-course,
.section-about-us{
    position: relative;
    padding: 60px 0;
}
.my-blog,
.my-feedback,
.my-course{
    position: relative;
}
.item-blog img,
.item-course img{
    transition: transform 0.3s ease-in-out;
}
.item-blog:hover img,
.item-course:hover img{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}
.item-blog-image,
.item-course-image{
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
.item-course-content{
    position: relative;
    padding: 30px 20px 15px;
    background-color: #f8f9f8;
}
.item-course-title{
    color: #333;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.item-course-title a{
    color: #333;
}
.item-course-title a:hover{
    color: #90a94c;
}
.item-course-desc{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 15px;
}
.item-course-fee{
    border-top: 1px solid #cecece;
    padding-top: 15px;
}
.section-feedback{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-feedback .title-index{
    color: #fff;
}
.item-feedback-content{
    position: relative;
    background: #fff;
    padding: 30px;
    text-align: center;
    width: 100%;
}
.item-feedback-image{
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.item-feedback-content p{
    margin: 15px 0;
    font-style: italic;
}
.item-blog-title{
    font-weight: 700;
    font-size: 18px;
    margin: 15px 0;
}
.item-blog-title a{
    color: #222;
}
.item-blog-title a:hover{
    color: #90a94c;
}
.item-blog-desc{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #777;
}
.item-blog-date{
    padding: 5px 10px;
    background: #90a94c;
    color: #fff;
    margin-top: 15px;
    display: inline-block;
}
.section-contact{
    background-position: center center;
    background-repeat: no-repeat;
}
.item-contact-left{
    padding: 45px 50px 20px 40px;
    background: #90a94c;
    color: #fff;
    width: 100%;
}
.item-contact li{
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.item-contact li:first-child{
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 18px;
}
.item-contact li span{
    display: block;
    width: calc(100% - 25px);
}
.item-contact-right{
    padding: 40px 45px;
    background-color: #fff;
    color: #3c4550;
    width: 100%;
}
.item-title-contact{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}
.btn-submit-contact{
    background-color: #90a94c;
    color: #fff;
}
.btn-submit-contact:hover{
    background-color: #506417;
    color: #fff;
}
.footer{
    background: #222;
    position: relative;
    padding: 15px 0;
    color: #fff;
}
.footer a{
    color: #90a94c;
}
.footer a:hover{
    color: #fff;
}
.item-breadcrumb{
    background-position: top center;
    background-repeat: no-repeat;
    min-height: 400px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}
.item-breadcrumb:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.item-breadcrumb-content{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    width: 100%;
    text-align: center;
}
.item-breadcrumb-content a{
    color: #fff;
}
.item-breadcrumb-content a:hover{
    color: #90a94c;
}
.item-breadcrumb-content span{
    color: #90a94c;
}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 14px;
    font-weight: bold;
}
.pagination a {
    color: black;
    padding: 8px 15px;
}
.pagination a.active {
    background-color: #90a94c;
    color: white;
    border-radius: 5px;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
.item-blog-detail{
    margin-bottom: 30px;
}
.item-blog-detail-date{
    font-size: 12px;
    font-style: italic;
    margin-bottom: 15px;
    color: #777;
}
.title-detail{
    font-size: 16px;
    font-weight: 700;
    color: #e84c3d;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.item-course-detail-fee{
    position: relative;
    background: #f8f9f8;
    padding: 10px 20px;
    margin-bottom: 20px;
}
.item-course-detail-fee span{
    font-size: 22px;
    color: #90a94c;
}
.item-course-detail-fee a{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
#modalLesson,
#modalCourse{
    top: 25%;
}
.item-gallery-image{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.item-gallery-image img{
    transition: transform 0.3s ease-in-out;
}
.item-gallery-image:hover img{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}
.item-user-avatar{
    height: 150px;
    width: 150px;
    margin: 0 auto;
}
.item-user-avatar img{
    border: 3px solid #506417;
}
.item-user-detail li:first-child{
    font-size: 20px;
}
.item-study-alert{
    background: #f8f9f8;
    font-size: 18px;
    font-weight: 700;
    padding: 7px 15px;
    color: #f00808;
}
.item-unit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.item-unit-name{
    border: 1px solid #506417;
    color: #506417;
    font-weight: 700;
    text-transform: uppercase;
    padding: 7px 20px;
    font-size: 16px;
    display: inline-block;
    border-radius: 7px;
    cursor: pointer;
    margin: 0 10px 15px;
}
.item-lesson.active,
.item-lesson:hover,
.item-unit-name.active,
.item-unit-name:hover{
    background-color: #506417;
    color: #fff;
}
.unit-content-title{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.item-lesson{
    padding: 7px;
    background: #f8f9f8;
    cursor: pointer;
    margin-bottom: 2px;
    border-radius: 5px;
}
.item-document{
    margin-bottom: 10px;
    font-size: 16px;
}
.item-document a{
    color: #506417;
}
.lesson-content,
.unit-content{
    max-height: 500px;
    overflow-y: auto;
}
#lessonContent{
    position: relative;
}
.btnLesson{
    position: absolute;
    top: 0;
    right: 0;
}
@media (min-width: 1025px) {
    .non-padding-left{
        padding-left: 0;
    }
    .non-padding-right{
        padding-right: 0;
    }
}
@media (max-width: 1024.98px) {
    .item-nav li {
        padding-left: 20px;
    }
    .item-nav{
        width: auto;
    }
    .item-slider{
        height: 600px;
    }
}
@media (max-width: 992px) {
    .top-header,
    .item-nav{
        display: none;
    }
    .section-study,
    .section-change-password,
    .section-user,
    .section-contact,
    .section-blog,
    .section-feedback,
    .section-course,
    .section-about-us{
        padding: 40px 0;
    }
    .item-blog-image,
    .item-course-image{
        height: 320px;
    }
    #itemMenuMobile{
        display: inline-block;
        margin-right: 20px;
    }
}